body{
    background-color:aquamarine;
}

h1{
    background-color:rgb(188, 154, 142) ;
    margin-right: 1px;
    text-align: center;
}

.container{
    font-size: 2em;

    
}

#p1{
    background-color:beige;
    font-size: 50px;
    border: solid black;
    border-radius: 5px;
    padding: 10px;

}

#p2{
    background-color:aliceblue;
}

.infocontainer{

    

}
.infor{
    font-size: x-large;
    
}